.perent{
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   align-items: center;
   }
   
   .child{
       border:2px solid black;
       height: 600px;
       width: 500px;
       text-align: center;
       background-color: black;
       

    
}
img{
    width: 150px;
    height: 200px;
    display: block;
    margin: auto;
}
